
.cardContainer {
    padding: 2em;
    background: white;
    box-shadow: 3px 4px 6px 0px rgb(226, 226, 226);
}

.fieldContainer{
    display:  flex;
    align-items: flex-start;
    gap : 1em;
}

.note {
    padding: 1em 0 0;
    font-size: 0.7em;
    color:gray;
}


@media only screen and (max-width: 600px) {
    .fieldContainer {
        flex-direction: column;
    }
}